<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/css/signup.css">
</head>
<body>
    <div class="container"><br><br>
        <i class="fas fa-key"></i>
        <h1>Forgot-password? <br><br> <span>to continue <br> enter mobile number or mail-id</span> </h1>
        
        <div>
            <div>
                <i class="fas fa-phone"></i>
                <input type="text" name="mob" class="input-field" placeholder="Mobile Number">
            </div>
            <div>
                <i class="fas fa-envelope"></i>
                <input type="text" name="email" class="input-field" placeholder="email">
            </div>
        </div>
        <br>
        <a href="#"><button class="login-button">Submit</button></a>
        <a href="./login.html"><button class="login-button">Cancel</button></a>
    </div>
</body>
</html>